<h1>The Confessional</h1>
<div id="confession" contentEditable="true"></div>
	<form id="confessionPost" method="POST" action="/gallery">
	<input type="submit" value="Submit Your Confession!">
	</form>
