<h1>The Confessional</h1>
	<form id="confessionPost" method="POST" action="/gallery">
		<textarea id="confession" name="confession" contentEditable="true"></textarea>
		<strong>
	  		<%= currentUser.userName %>
	  	</strong>
		<input type="submit" value="Submit Your Confession!">
	</form>
