<h1>The Gallery</h1>
<form method="GET" action="/confession">
</form>
<% gallery.forEach(function(confession) { %>
	<div>
		<span class="username">
			<%= confession.user.userName %>
		</span>
		<%= confession.content %>
	</div>
<% }); %>
