<div id="banner">
	<h1>Chapel</h1>
</div>
	<form action="/gallery">
	    <input id="judge" type="submit" value="I'm here to judge!">
	</form>
	<form action="/confession">
    	<input id="confessional" type="submit" value="I have something to confess!">
	</form>
	
