<!DOCTYPE html>
<html>
<head>
	<title>Chapel</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
	<link rel="stylesheet" href="/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<link href='https://fonts.googleapis.com/css?family=Alex+Brush' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="container">
		<% if (typeof alerts !== 'undefined') { %>
		  <% for (key in alerts) { %>
		    <% alerts[key].forEach(function(thisMsg) { %>
		      <div class="alert alert-<%= key %>"><%= thisMsg %></div>
		    <% }); %>
		  <% } %>
		<% } %>

      <% include nav %>
      <%- body %>
	    <div id="blurb">
			<h1>About</h1>
			<h2>What is the Chapel?</h2>
				<p>Do you have a disgusting daily habit that you can't live without? Do you have a bizarre sexual fetish? Have you cheated on your significant other and haven't told anyone? We want to know about it!! The Chapel is a forum where you can post your misdeeds behind the anonymity of a user name you create. Additionally, users can comment on any post in the Gallery. 
				</p>
			<h3>How does The Chapel work?</h3>
				<p>It is not necessary to create an account or sign in if you wish to simply browse the Gallery and read the Confessions of other users. However, if you wish to post a Confession or to post a comment on a Confession, you must sign in with your user name and password or create an account (it's free!). </p>
			<h4 id="so" style="font-size:230%;">So, Ready To Confess Your Sins?</h4>
		</div>
		<div id="login">
			<h1>Log In To Your Account</h1>
			<form method="POST" action="/auth/login">
				<input type="text" name="username" placeholder="User-name">
				<input type="password" name="password" placeholder="Password">
				<input type="submit" value="Log In">
			</form>
		</div>
    </div>
    <script src="/main.js"></script>
</body>
</html>
