<!DOCTYPE html>
<html>
<head>
	<title>Chapel</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
	<link rel="stylesheet" href="/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<link href='https://fonts.googleapis.com/css?family=Alex+Brush' rel='stylesheet' type='text/css'>
</head>
<body>
	<div>Current User: <%= currentUser.name %></div>
	<div class="container">
		<% if (typeof alerts !== 'undefined') { %>
		  <% for (key in alerts) { %>
		    <% alerts[key].forEach(function(thisMsg) { %>
		      <div class="alert alert-<%= key %>"><%= thisMsg %></div>
		    <% }); %>
		  <% } %>
		<% } %>

      <% include nav %>
      <%- body %>
    </div>
    <script src="/main.js"></script>
</body>
</html>
