<h1><%= confession.content %></h1> 
	<div>
		<form method="GET" action="/comment">
			<input id="search-tags" type="text" name="reaction" placeholder="Reaction">
			<input id="reaction-gif" type="submit" value="Search Gifs">
		</form>
		<div class="display">
		</div>
	</div>