<h1><%= confession.content %></h1> 
	<div>
		<form method="POST" action="??????????DB?????">
			<input type="text" name="reaction" placeholder="Reaction">
			<input type="submit" value="Search Gifs">
		</form>
	</div>