<h1>Create A New Account</h1>
<div id="signup">
	<form method="POST" action="/auth/signup">
		<input type="text" name="email" placeholder="Email">
		<input type="text" name="username" placeholder="User-name">
		<input type="password" name="password" placeholder="Password">
		<input type="submit" value="Sign Up">
	</form>
</div>